{% extends 'layout.html' %}

{% block body %}
<!-- flash messages -->
<div style="position:fixed; left:25%; top:2%;z-index:9999;" class="container w-50 text-center">{% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
        {% for category, msg in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
          {{msg}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
  {% endwith%}</div>

<div class="container-fluid p-5">
    <div class="container rounded shadow p-3 bg-light">
        <div class="text-center">
            <div class="p-3">
                <h1 class="fw-bold">
                    Last step is to pay to gain access.
                </h1>
            </div>
            <div class="text-center p-5">
                <i class="fa-solid fa-cart-shopping fa-10x"></i> 
            </div>
            <div>
                <form action="/create-checkout-session" method="POST">
                    <button type="submit" class="bttn-jelly bttn-md bttn-primary bg-secondary">Checkout</button>
                  </form>
            </div>
        </div>
    </div>
   
</div>
{% endblock %}
